.credential-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 1rem;
    border: 1px solid var(--bg-color-soft);
    box-shadow: 0 0 2rem var(--bg-color-soft);

    padding: 3rem;
}