#root {
    margin: 0;

    min-height: 100vh;

    --bg-color: #ccc;
    --bg-color-soft: #eee;
    --bg-color-dark: #999;
    --font-color: #111;
    --admin-color: #FFD700;

    #control-root {
        padding: 1.5vh;
        min-height: 97vh;

        font-family: 'Roboto';

        main {
            height: 100%;
            padding-top: 5rem;
        }
    }
}

.dark {
    --bg-color: #444;
    --bg-color-soft: #666;
    --bg-color-dark: #222;
    --font-color: #eee;
    background-color: var(--bg-color);
    color: var(--font-color);
}

nav {
    display: flex;
    justify-items: center;
    align-items: center;

    z-index: 10;

    border-bottom: var(--bg-color-dark);
    box-shadow: 0 0 2rem var(--bg-color-dark);

    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 2rem);
    height: 3rem;

    padding: 1rem;

    * {
        margin-left: 0.25rem;
        margin-right: 0.25rem;
    }

    .toggle-switch {
        width: 2rem;
        height: 1rem;

        position: relative;

        .darkmode-switch {
            background-color: var(--bg-color);
            box-shadow: 0 0 0.25rem var(--font-color);

            width: 100%;
            height: 100%;

            position: absolute;
            border-radius: 15rem;

            input {
                display: none;
            }

            .slider {
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 50px;
                transition: 0.3s;

                margin: 0;
            }

            input:checked~.slider {
                background-color: var(--bg-color);
            }

            .slider::before {
                content: "";
                position: absolute;
                top: 0.1rem;
                left: 0.1rem;
                width: 0.8rem;
                height: 0.8rem;
                border-radius: 50%;
                background-color: var(--font-color);
                transition: 0.3s;
            }

            input:checked~.slider::before {
                transform: translateX(1rem);
            }
        }
    }
}

button {
    background: none;
    color: var(--font-color);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;

    border-radius: 0.25rem;
    border: 0.1rem dotted var(--font-color);

    margin-right: 1rem;

    * {
        margin: 0;
    }
}

p[contenteditable="true"] {
    background-color: var(--bg-color-soft);
    border: 0.1rem solid var(--font-color);
}

a {
    color: var(--font-color);
}