#root {
    margin: 0;

    min-height: 100vh;

    --bg-color: #eee;
    --bg-color-soft: #ccc;
    --font-color: #111;
    --admin-color: #FFD700;
    --friend-color: cyan;

    #control-root {
        padding: 1.5vh;
        min-height: 97vh;

        font-family: 'Roboto';
    }
}

.dark {
    --bg-color: #111;
    --bg-color-soft: #333;
    --font-color: #eee;
    background-color: var(--bg-color);
    color: var(--font-color);
}

nav {
    display: flex;
    justify-items: center;
    align-items: center;

    * {
        margin-left: 0.25rem;
        margin-right: 0.25rem;
    }
}

button {
    background: none;
    color: var(--font-color);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;

    border-radius: 0.25rem;
    border: 0.1rem dotted var(--font-color);

    margin-right: 1rem;

    * {
        margin: 0;
    }
}

.toggle-switch {
    width: 2rem;
    height: 1rem;

    position: relative;

    .darkmode-switch {
        background-color: var(--bg-color);
        box-shadow: 0 0 0.25rem var(--font-color);

        width: 100%;
        height: 100%;

        position: absolute;
        border-radius: 15rem;

        input {
            display: none;
        }

        .slider {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50px;
            transition: 0.3s;

            margin: 0;
        }

        input:checked~.slider {
            background-color: var(--bg-color);
        }

        .slider::before {
            content: "";
            position: absolute;
            top: 0.1rem;
            left: 0.1rem;
            width: 0.8rem;
            height: 0.8rem;
            border-radius: 50%;
            background-color: var(--font-color);
            transition: 0.3s;
        }

        input:checked~.slider::before {
            transform: translateX(1rem);
        }
    }
}