.tl-post {
    border-radius: 1rem;
    padding: 2rem;
    margin: 1rem;

    &:nth-child(4n) {
        box-shadow: 0 0 2rem rgba(255, 0, 0, 0.1);
        background-color: rgba(255, 0, 0, 0.1);
        border: 1px dashed rgba(255, 0, 0, 0.3);
        ;
    }

    &:nth-child(4n + 1) {
        box-shadow: 0 0 2rem rgba(255, 255, 0, 0.1);
        background-color: rgba(255, 255, 0, 0.1);
        border: 1px dashed rgba(255, 255, 0, 0.3);
    }

    &:nth-child(4n + 2) {
        box-shadow: 0 0 2rem rgba(0, 255, 0, 0.1);
        background-color: rgba(0, 255, 0, 0.1);
        border: 1px dashed rgba(0, 255, 0, 0.3);
    }

    &:nth-child(4n + 3) {
        box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
        background-color: rgba(0, 0, 255, 0.1);
        border: 1px dashed rgba(0, 0, 255, 0.3);
    }
}

.post-content {
    .selected {
        &.positive {
            color: green;
        }

        &.negative {
            color: orangered;
        }
    }
}

.post-children {
    margin-left: 1%;
    padding-left: 1%;
    border-left: 1px solid;
}