.post-list {
    overflow-y: scroll;
    max-height: 75vh;
    margin: 1rem;

    .tl-post {
        border-radius: 1rem;
        padding: 2rem;
        margin: 1rem;
        margin-bottom: 0;

        &:nth-child(4n) {
            box-shadow: 0 0 2rem rgba(255, 0, 0, 0.1);
            background-color: rgba(255, 0, 0, 0.1);
            border: 1px dashed rgba(255, 0, 0, 0.3);
            ;
        }

        &:nth-child(4n + 1) {
            box-shadow: 0 0 2rem rgba(255, 255, 0, 0.1);
            background-color: rgba(255, 255, 0, 0.1);
            border: 1px dashed rgba(255, 255, 0, 0.3);
        }

        &:nth-child(4n + 2) {
            box-shadow: 0 0 2rem rgba(0, 255, 0, 0.1);
            background-color: rgba(0, 255, 0, 0.1);
            border: 1px dashed rgba(0, 255, 0, 0.3);
        }

        &:nth-child(4n + 3) {
            box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
            background-color: rgba(0, 0, 255, 0.1);
            border: 1px dashed rgba(0, 0, 255, 0.3);
        }
    }

    div:not(.tl-post)>.post:nth-child(n+2) {
        margin-top: 1.5rem;
        padding-top: 0.5rem;
        border-top: 1px dotted var(--font-color);
    }
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        margin: 0;
    }

    .author,
    .date {
        font-style: italic;
    }

    .reload-button {
        background: none;
        color: var(--font-color);
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;

        border-radius: 0.25rem;
        border: 0.1rem dotted var(--font-color);
    }
}

.post-body {
    p {
        margin-left: 1rem;
    }

    .reactions {
        display: flex;

        p {
            margin: 0;
        }
    }
}

.post-controls {
    display: flex;
    margin: 1rem;
    margin-left: 0;

    .selected {
        &.positive {
            color: green;
        }

        &.negative {
            color: orangered;
        }
    }
}

.post-children {
    margin-left: 1%;
    padding-left: 1%;
    border-left: 1px solid;
    margin-bottom: 1rem;
}

.new-post-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    backdrop-filter: blur(2px);

    .new-post-window {
        background-color: var(--bg-color);
        box-shadow: 0 0 2rem var(--bg-color-soft);
        border-radius: 1rem;
        padding: 2rem;

        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: fit-content;
        max-width: 27rem;
        height: fit-content;

        display: flex;
        flex-direction: column;
        align-items: center;

        .new-post-close-button {
            background-color: var(--bg-color);
            color: var(--font-color);
            border: none;
            padding: 0;

            position: absolute;
            top: 0.25rem;
            right: 0.25rem;
        }

        #new-post-textarea {
            resize: none;

            border: none;
            padding: 0.25rem;

            width: 25rem;
            height: 10rem;
        }
    }
}